# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Python virtual environment
AMBER_ENV/

# Git
.git
.gitignore

# Env & secrets (already copied explicitly or set via compose)
.env
*.env

# Editor/project files
.vscode/


Amber.db
Staging/
Music/
Notes/
README.md